
.btn {
    &:link, 
    &:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        /*all the props will be animated == animation: moveInRight 1s ease-out;
            makes the hover and active smooth*/
        position: relative;
        /* makes the ::after element to be relative to the btn and not to all of the box*/ 
        font-size: $default-font-size;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-black, 0.2);
        /*third is the bler*/ 

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0; 
        }
    }
    
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($color-black, 0.2); 
    }
    
    &-white {
        background-color: $color-white;
        color: $color-grey; 

        &::after {
            background-color: #fff; 
        }
    }
    
    /* does it after hover behind the btn, and stops when not hover */
    &::after {
    content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s; 
    }
    
    &-animated {
        animation: moveInBottom .5s ease-out;
        animation-delay: .75s;
        /* the btn was visible before the animation starts*/
        animation-fill-mode: backwards; 
    }
}

.btn-text {
     &:link,
     &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        //if display is inline-block, we can use the padding, margin etc.
        display: inline-block;
        text-decoration: none ;
        border-bottom: 1px solid $color-primary; // now we can put padding between the text and the line.
        padding: 3px; // in small sizes we can use the absolute size.
        transition: all;
     }

     &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow:  0 1rem 2rem rgba($color-black, 0.15);
        transform: translateY(-2px); //moving up
     }

     &:active {
        box-shadow:  0 0.5rem 1rem rgba($color-black, 0.15);
        transform: translateY(0); //to the actual position
     }
}
